
.formContainer{
  display: flex; 
  margin-top: 15px;  
}


.form{
margin: auto;
}

.formInput{
  width: 300px;  
}

.formButton{
    display: block;
  text-align: center;
 margin: auto;
 width: 100px;
}